/**
 * @file - フォントサイズの変数を管理する
 */
$xxxLargeFontSize: 34 * 0.0625rem; // (=2.2125rem) h4
$xxLargeFontSize: 24 * 0.0625rem; // (=1.5rem) h5
$xLargeFontSize: 20 * 0.0625rem; // (=1.25rem) h6
$largeFontSize: 18 * 0.0625rem; // (=1.125rem)
$baseFontSize: 16 * 0.0625rem; // (=1rem) subtitle, body
$smallFontSize: 14 * 0.0625rem; // (=0.875rem) subtitle2, body2, button
$xSmallFontSize: 12 * 0.0625rem; // (=0.75rem) caption, overline
$xxSmallFontSize: 10 * 0.0625rem; // (=0.625rem)
