/**
 * @file - スペース系の変数を管理するファイル
 */
// 基準となるスペース
$base-space: 4px;

$spaces: ();
@for $i from 0 through 40 {
  $spaces: map-merge(
    $spaces,
    (
      $i: $base-space * $i,
    )
  );
}

$space-1: $base-space * 1;
$space-2: $base-space * 2;
$space-3: $base-space * 3;
$space-4: $base-space * 4;
$space-5: $base-space * 5;
$space-6: $base-space * 6;
$space-7: $base-space * 7;
$space-8: $base-space * 8;
$space-9: $base-space * 9;
$space-10: $base-space * 10;
$space-11: $base-space * 11;
$space-12: $base-space * 12;
$space-13: $base-space * 13;
$space-14: $base-space * 14;
$space-15: $base-space * 15;
$space-16: $base-space * 16;
$space-17: $base-space * 17;
$space-18: $base-space * 18;
$space-19: $base-space * 19;
$space-20: $base-space * 20;
$space-21: $base-space * 21;
$space-22: $base-space * 22;
$space-23: $base-space * 23;
$space-24: $base-space * 24;
$space-25: $base-space * 25;
// $spaces: ( 1: 4px, 2: 8px )
